
html {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 13px;
}

body {
    min-height: 100vh;
    width: 100vw;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

* {
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
}

button {
    border: none;
    outline: none;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
}

/* HEADER STYLES */

header {
    /* border: 1px solid black; */
    display: flex;
    padding-bottom: 10px;
    width: inherit;
    height: fit-content;
}

h1 {
    font-size: 1.5rem;
}

#title {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
}

nav button {
    padding: 0 5px;
    background-color: transparent;
}

/* GENERAL SECTION STYLES */

section {
    border: 1px solid black;
    height: fit-content;
    width: 100%;
}

.hidden {
    display: none;
}

label {
    font-size: 1rem;
}

/* POMODORO SECTION STYLES */

#optionsContainer {
    display: flex;
    flex-wrap: wrap;
}

.pomodoro-options {
    width: calc(100% / 3);
}

#checkerLabel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#watchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.watchButton {
    width: 20%;
    padding: 5px;
}

#increase, #decrease {
    font-weight: 900;
}

#watchContainer p {
    width: 100%;
    text-align: center;
}

#watch {
    font-size: 4rem;
}

/* HABIT SECTION STYLES */
.habit {
    background-color: gainsboro;
    padding: 10px;
}

.habit-options {
    display: flex;
    width: 100%;
    align-items: center;
}

.habit-name {
    width: 100%;
}

.habit-option {
    padding: 5px;
    height: fit-content;
    margin: 0 0 0 5px;
}

.habit-record {
    display: grid;
    gap: 3px;
    overflow-x: scroll;
    grid-template-rows: repeat(7, 10px);
    grid-auto-flow: column;
    padding-bottom: 5px;
}

.habit-record::-webkit-scrollbar {
    height: 7px;
    opacity: 0.1;
}

.habit-record::-webkit-scrollbar-thumb {
    background-color: rgba(240, 248, 255, 0.75);
}


.day {
    background-color: aliceblue;
    padding: 5px;
    border-radius: 2px;
    opacity: 0.35;
}

.day.done {
    opacity: 1;
}