
html {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 13px;
}

body {
    min-height: 100vh;
    width: 100vw;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

* {
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
}

button {
    border: none;
    outline: none;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
}

header {
    /* border: 1px solid black; */
    display: flex;
    padding-bottom: 10px;
    width: inherit;
    height: fit-content;
}

h1 {
    font-size: 1.5rem;
}

#title {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
}

nav button {
    padding: 0 5px;
    background-color: transparent;
}

section {
    border: 1px solid black;
    height: fit-content;
}

.hidden {
    display: none;
}

label {
    font-size: 1rem;
}

#optionsContainer {
    display: flex;
    flex-wrap: wrap;
}

.pomodoroOptions {
    width: calc(100% / 3);
}

#checkerLabel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#watchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.watchButton {
    width: 20%;
    padding: 5px;
}

#increase, #decrease {
    font-weight: 900;
}

#watchContainer p {
    width: 100%;
    text-align: center;
}

#watch {
    font-size: 4rem;
}

footer {
    background-color: aquamarine;
}